 body {
      font: 400 15px Lato, sans-serif;
      line-height: 1.8;
      color: #818181;
  }
  h2 {
      font-size: 24px;
      text-transform: uppercase;
      color: #303030;
      font-weight: 600;
      margin-bottom: 30px;
  }
  h4 {
      font-size: 19px;
      line-height: 1.375em;
      color: #303030;
      font-weight: 400;
      margin-bottom: 30px;
  }  
  table {
    border-collapse: collapse;
    width: 100%;
  }
  table.display{
    margin-left:auto; 
    margin-right:auto;
  }

  th, td {
    text-align: left;
    padding: 8px;
  }
  .jumbotron {
      background-color: #f4511e;
      color: #fff;
      padding: 100px 25px;
      font-family: Montserrat, sans-serif;
  }
  .container-fluid {
      padding: 60px 50px;
  }
  .bg-grey {
      background-color: #f6f6f6;
  }
  .logo-small {
      color: #f4511e;
      font-size: 50px;
  }
  .logo {
      color: #f4511e;
      font-size: 200px;
  }
  .thumbnail {
      padding: 0 0 15px 0;
      border: none;
      border-radius: 0;
  }
  .thumbnail img {
      width: 100%;
      height: 100%;
      margin-bottom: 10px;
  }
  .carousel-control.right, .carousel-control.left {
      background-image: none;
      color: #f4511e;
  }
  .carousel-indicators li {
      border-color: #f4511e;
  }
  .carousel-indicators li.active {
      background-color: #f4511e;
  }
  .item h4 {
      font-size: 19px;
      line-height: 1.375em;
      font-weight: 400;
      font-style: italic;
      margin: 70px 0;
  }
  .item span {
      font-style: normal;
  }
  .panel {
      border: 1px solid #f4511e; 
      border-radius:0 !important;
      transition: box-shadow 0.5s;
  }
  .panel:hover {
      box-shadow: 5px 0px 40px rgba(0,0,0, .2);
  }
  .panel-footer .btn:hover {
      border: 1px solid #f4511e;
      background-color: #fff !important;
      color: #f4511e;
  }
  .panel-heading {
      color: #fff !important;
      background-color: #f4511e !important;
      padding: 25px;
      border-bottom: 1px solid transparent;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
  }
  .panel-footer {
      background-color: white !important;
  }
  .panel-footer h3 {
      font-size: 32px;
  }
  .panel-footer h4 {
      color: #aaa;
      font-size: 14px;
  }
  .panel-footer .btn {
      margin: 15px 0;
      background-color: #f4511e;
      color: #fff;
  }
  .navbar {
      margin-bottom: 0;
      background-color: #f4511e;
      z-index: 9999;
      border: 0;
      font-size: 12px !important;
      line-height: 1.42857143 !important;
      letter-spacing: 4px;
      border-radius: 0;
      font-family: Montserrat, sans-serif;
  }
  .navbar li a, .navbar .navbar-brand {
      color: #fff !important;
  }
  .navbar-nav li a:hover, .navbar-nav li.active a {
      color: #f4511e !important;
      background-color: #fff !important;
  }
  .navbar-default .navbar-toggle {
      border-color: transparent;
      color: #fff !important;
  }
  footer .glyphicon {
      font-size: 20px;
      margin-bottom: 20px;
      color: #f4511e;
  }
  .slideanim {visibility:hidden;}
  .slide {
      animation-name: slide;
      -webkit-animation-name: slide;
      animation-duration: 1s;
      -webkit-animation-duration: 1s;
      visibility: visible;
  }
  @keyframes slide {
    0% {
      opacity: 0;
      transform: translateY(70%);
    } 
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
  }
  @-webkit-keyframes slide {
    0% {
      opacity: 0;
      -webkit-transform: translateY(70%);
    } 
    100% {
      opacity: 1;
      -webkit-transform: translateY(0%);
    }
  }
  @media screen and (max-width: 768px) {
    .col-sm-4 {
      text-align: center;
      margin: 25px 0;
    }
    .btn-lg {
        width: 100%;
        margin-bottom: 35px;
    }
  }
  @media screen and (max-width: 480px) {
    .logo {
        font-size: 150px;
    }
  }

  /*------------------------------------------------------------------
Theme Name: Listing & Directory Website Template
Version: 1.0
Author: Surjith S M
-------------------------------------------------------------------*/
/* ==============================================================
   GLOBAL STYLES
   ============================================================== */

/* ==============================================================
   FIND PLACES
   ============================================================== */
.styled-heading {
  text-align: center;
  margin: 0 0 50px; }
  @media (max-width: 768px) {
    .styled-heading {
      margin: 0 0 30px; } }
  .styled-heading h3 {
    position: relative;
    padding: 0 0 23px; }
    .styled-heading h3:after {
      position: absolute;
      content: "";
      width: 60px;
      height: 3px;
      background: #ff3a6d;
      bottom: 0;
      left: 50%;
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      transform: translateX(-50%); }

.find-img-align {
  padding: 0 0 15px; }
  @media (max-width: 768px) {
    .find-img-align {
      padding: 0; } }

/* ==============================================================
   FEATURED PLACES
   ============================================================== */
.featured-place-wrap {
  background: #fff;
  margin: 0 0 30px;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  position: relative; }
  .featured-place-wrap:hover {
    -webkit-transform: translateY(-2px);
    -ms-transform: translateY(-2px);
    transform: translateY(-2px);
    -webkit-box-shadow: 0px 3px 40px 0 rgba(206, 205, 205, 0.3);
    box-shadow: 0px 3px 40px 0 rgba(206, 205, 205, 0.3); }
  .featured-place-wrap a {
    display: block;
    text-decoration: none;
    color: #000; }
  .featured-place-wrap img {
    width: 100%; }

.featured-rating,
.featured-rating-orange,
.featured-rating-green {
  position: absolute;
  right: 10px;
  width: 60px;
  height: 60px;
  text-align: center;
  margin: -33px 10px 0 0;
  font-size: 23px;
  background: #ff7474;
  color: #fff;
  padding: 14px;
  border-radius: 50%; }

.featured-rating-orange {
  background: #ffae00 !important; }

.featured-rating-green {
  background: #46cd38 !important; }

.featured-title-box {
  padding: 22px 20px; }
  @media (max-width: 480px) {
    .featured-title-box {
      padding: 22px 14px; } }
  .featured-title-box h6 {
    overflow: hidden;
    white-space: nowrap;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    margin-bottom: 5px; }
  .featured-title-box p {
    color: #9fa9b9;
    display: inline-block;
    margin: 0; }
    @media (max-width: 320px) {
      .featured-title-box p {
        font-size: 13px; } }
    .featured-title-box p span {
      color: #ffb006;
      padding: 0; }
  .featured-title-box span {
    color: #9fa9b9;
    padding: 0 10px; }
    @media (max-width: 320px) {
      .featured-title-box span {
        padding: 0 4px; } }
  .featured-title-box ul {
    padding: 0;
    margin: 10px 0 0; }
    .featured-title-box ul li {
      list-style: none;
      color: #737882;
      line-height: 2; }
      .featured-title-box ul li span {
        padding: 7px 8px 0 0; }
        @media (max-width: 1200px) {
          .featured-title-box ul li span {
            padding: 0 4px 0 0; } }
        @media (max-width: 320px) {
          .featured-title-box ul li span {
            font-size: 12px;
            padding: 0 2px 0 0; } }
      .featured-title-box ul li p {
        margin: 0; }

.bottom-icons {
  padding: 15px 0 0;
  line-height: 1; }
  .bottom-icons span {
    float: right;
    line-height: 1;
    padding: 0 0 0 12px; }

.closed-now {
  color: #ff3a6d;
  font-size: 13px;
  display: block;
  font-weight: 400;
  display: inline-block; }

.open-now {
  color: #46cd38;
  font-size: 13px;
  display: block;
  font-weight: 400;
  display: inline-block; }

.featured-btn-wrap {
  text-align: center; }
  @media (max-width: 1200px) {
    .featured-btn-wrap {
      margin: 3px 0 0; } }
  .featured-btn-wrap .btn-danger {
    background: #ff3a6d;
    padding: 16px 50px;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    border: 0; }
    @media (max-width: 576px) {
      .featured-btn-wrap .btn-danger {
        width: 100%; } }
    .featured-btn-wrap .btn-danger:hover, .featured-btn-wrap .btn-danger:focus {
      background: #f34e79;
      outline: none;
      -webkit-box-shadow: none;
      box-shadow: none; }

/* ==============================================================
   CATEGORIES
   ============================================================== */
@media (max-width: 992px) {
  .category-responsive {
    max-width: 50%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 50%;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%; } }

@media (max-width: 576px) {
  .category-responsive {
    max-width: 100%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%; } }

.category-wrap:hover {
  text-decoration: none; }

.category-wrap:hover .category-block {
  background: #f34e79;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; }

.category-wrap:hover .category-img path {
  text-decoration: none;
  fill: #fff;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; }

.category-wrap:hover .category-block h6 {
  color: #fff;
  text-decoration: none; }

.category-block {
  margin: 0 auto;
  text-align: center;
  border: 1px solid #e5e7ef;
  padding: 30px;
  margin: 0 0 30px; }
  .category-block h6 {
    color: #3e434b;
    margin: 10px 0 0; }

.category-img {
  width: 64px;
  height: 24px; }

/* ==============================================================
   ADD LISTING
   ============================================================== */
.add-listing-wrap {
  text-align: center;
  margin: 0 0 36px; }
  .add-listing-wrap h2 {
    font-weight: 300; }
  .add-listing-wrap p {
    font-size: 22px;
    font-weight: 300;
    color: #737882; }
